    body {
      font-family: Arial, sans-serif;
      background-color: #f3f3f3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .products-container {
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      width: 300px;
    }

    .products-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .products-container input[type="text"],
    .products-container input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .products-container button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .products-container button:hover {
      background-color: #0056b3;
    }
.regresar-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF; /* Color de fondo */
  color: white;              /* Color del texto */
  text-decoration: none;     /* Eliminar subrayado */
  border-radius: 5px;        /* Bordes redondeados */
  transition: background-color 0.3s ease;
}

.regresar-link:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
