<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
</head>
<body>
<div class="main-container"></div>

  <div class="form-container">
    <h2>Productos</h2>
    <form action="/productos" method="POST">
      <input type="text" name="nombre" placeholder="Nombre" required>
      <input type="text" name="description" placeholder="Description" required>
      <input type="file" name="imagen" placeholder="Imagen" required>
      <input type="text" name="categorias" placeholder="Categorias" required>
      <input type="text" name="subcategorias" placeholder="Subcategorias" required>
      <input type="text" name="UnidadesDeMedida" placeholder="Unidades de medida" required>
      <input type="text" name="precio" placeholder="Precio" required>
      <input type="text" name="stock" placeholder="Stock" required>
      <button type="submit">Ingresar</button>
    </form>

    <a routerLink="/home" class="regresar-link">Regresar</a>
  </div>

  <div class="table-container">
            <table id="productTable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Imagen</th>
        <th>Categorías</th>
        <th>Subcategorías</th>
        <th>Unidades de Medida</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <!-- Las filas se agregarán aquí dinámicamente -->
    </tbody>
  </table>
  </div>
</body>
</html>
