<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

  <div class="products-container">
    <h2>Productos</h2>
    <form action="/productos" method="POST">
      <input type="text" name="nombre" placeholder="Nombre" required>
      <input type="text" name="description" placeholder="Description" required>
      <input type="file" name="imagen" placeholder="Imagen" required>
      <input type="text" name="categorias" placeholder="Categorias" required>
      <input type="text" name="subcategorias" placeholder="Subcategorias" required>
      <input type="text" name="UnidadesDeMedida" placeholder="Unidades de medida" required>
      <input type="text" name="precio" placeholder="Precio" required>
      <input type="text" name="stock" placeholder="Stock" required>
      <button type="submit">Ingresar</button>
    </form>
  </div>

</body>
</html>
